.product-container {
  display: flex;
  flex-flow: wrap;
}

.product-item {
  flex: 1 1 40%;
  min-height: 11rem;
  padding: 1rem 1rem;
  margin: 1rem;
  border: 1px solid gray;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/